@model BlogSite.Framework.BlogBS.Blog

<div class="col-md-8">
    
    <div class="card mb-4">
        <img class="card-img-top" src="~/image/@Model.Image" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">@Model.Title</h2>
            <p class="card-text">
                @Model.Text
            </p>
            
        </div>
        <div class="card-footer text-muted">
            Posted on @Model.datetime by
            <a>Admin</a>
        </div>
    </div>
    
    <input class="form-control form-control-sm" name="Text" type="text" placeholder="Type a comment">

    @*<partial name="Comments"/>*@

</div>

