@model cloudscribe.Pagination.Models.PagedResult<BlogSite.Framework.BlogBS.Blog>
<div class="col-md-8">
    @foreach (var item in Model.Data)
    {
        <div class="card mb-4">
            <img class="card-img-top" src="~/image/@item.Image" width="750" height="300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">@item.Title</h2>
                <p class="card-text">
                    @item.Text.Substring(0, 200). . .
                </p>
                <a asp-controller="BlogPost" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Read More &rarr;</a>
                
            </div>
            <div class="card-footer text-muted">
                Posted on @item.datetime.ToString("MM/dd/yyyy") by
                <a>Admin</a>
            </div>
        </div>
        
    }
    <cs-pager
              cs-paging-pagenumber=(int)Model.PageNumber
              cs-paging-totalitems=(int)Model.TotalItems
              cs-paging-pagesize=Model.PageSize
              cs-pagenumber-param="pagenumber" 
              asp-controller="Home"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">
              >
        
    </cs-pager>

</div>

