
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>

<partial name="_blogPost" />
@*<partial name="_paging" />*@